<ion-header>
  <ion-navbar>
    <ion-title>
      Crevol App
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <span>Hi Sudhakar, Please generate Qr Code Online with '01234567895' or '01234567898' and scan to see the results.</span>
  <h1>
  <button ion-button color="dark" full round (click)="scan()">Start Scan</button>
</h1>

<ion-card *ngIf="productFound">
  <span> You have Searched {{barcodeCode}}</span>
  <hr>
  <span> Here is your Search Result:</span>
  <ion-card-header>
    <h2>Price: Rs. {{selectedProduct.price}}</h2>
  </ion-card-header>
  <ion-card-content>
    <ul>
      <li>{{selectedProduct.plu}}</li>
      <li>{{selectedProduct.name}}</li>
      <li>{{selectedProduct.desc}}</li>
      <li *ngIf="selectedProduct.imagefound"><img src="{{selectedProduct.newurl}}"></li>
    </ul>
  </ion-card-content>
</ion-card>
</ion-content>
<ion-footer>
  <span *ngIf="lastSyncTime">Last Sync on:- {{lastSyncTime | date: 'dd/MM/yyyy H:mm'}}</span>
  <ion-toolbar>
    <button ion-button color="dark" full round (click)="sync()">Sync</button>
  </ion-toolbar>
</ion-footer>
